<!--{% extends 'basecustomer.html' %}-->
<!--{% block body_block%}-->
<!--<h1>Welcome {{request.user}}</h1>-->
<!--<div class="row">-->
<!--    <h1>aaa</h1>-->
<!--    {%for food in foods%}-->
<!--        <div class="card" style="width: 18rem;">-->
<!--            {%if food.image%}-->
<!--            <img src="{{food.image.url}}" class="card-img-top" alt="...">-->
<!--            {%endif%}-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">{{food.name}}</h5>-->
<!--                <p class="card-text">{{food.price}}</p>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                    card's content.</p>-->
<!--                <a href="{%url 'addtocart' food.id%}" class="btn btn-primary">Add To Buy</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    {%endfor%}-->

<!--</div>-->

<!--{%endblock%}-->

